.title {
  display: grid;
  grid-template-columns: auto 1fr auto;

  align-items: center;
  justify-items: flex-start;
  gap: 20px;
}

.seo {
  margin: 20px 0;

  color: #3B434E;
}

@media screen and (max-width: 500px) {
  .title {
    grid-template-columns: auto 1fr;
  }
}
