.product {
  display: grid;

  margin-bottom: 30px;
  padding: 30px;

  border-radius: 5px;
  background-color: var(--white);
  grid-template-columns:
    [start] 70px [logoend] 30px [titlestart]
    calc(50% - 100px) [middle] 1fr 40px [pricestart] auto [priceend]
    40px [ratestart] auto [end];
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  color: var(--dark);
  border-radius: 5px;

  font-size: 26px;
  font-weight: bold;
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title,
.tags {
  grid-column: titlestart / pricestart;

  align-self: center;
}

.price,
.priceTitle {
  align-self: center;

  white-space: nowrap;
  grid-column: pricestart / priceend;
}

.rate,
.rateTitle {
  align-self: center;

  white-space: nowrap;
  grid-column: ratestart / end;
}

.price {
  display: flex;
  align-items: center;
  align-self: center;

  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.sale {
  margin-left: 10px;
}

.priceTitle,
.rateTitle {
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.hr {
  grid-column: start / end;

  margin: 20px 0;

  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--grey-light);
}

.subTitle {
  grid-column: start / end;

  padding-bottom: 20px;
}

.characteristics {
  grid-column: start / middle;
}

.achievements {
  grid-column: middle / end;

  padding-left: 20px;
}

.achievement {
  display: flex;

  padding-top: 8px;
}

.description {
  grid-column: start / pricestart;
}

.descriptionText {
  overflow: hidden;

  height: 80px;
  padding-top: 10px;

  transition: height 0.1s ease-out;

  background-image: linear-gradient(var(--dark), var(--white));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.descriptionTextOpen {
  height: 100%;
  -webkit-text-fill-color: var(--dark);
  -moz-text-fill-color: var(--dark);

  transition: height 0.1s ease-out;
}

.achievementTag {
  height: 24px;
  padding: 5px;
}

.characteristic {
  display: grid;
  align-items: baseline;

  padding-right: 20px;
  padding-bottom: 12px;
  grid-template-columns: auto 1fr auto;
  gap: 5px;
}

.characteristicName {
  font-size: 16px;
  font-weight: bold;
}

.characteristicDots {
  margin-bottom: 5px;

  border-bottom: 1px dashed var(--dark);
}

.buttons {
  grid-column: start / middle;

  align-self: flex-end;

  padding-top: 10px;
}

.buttons > * {
  margin-right: 20px;
}

.buttons:last-child {
  margin-right: none;
}

@media screen and (max-width: 1200px) {
  .product {
    display: grid;

    margin-bottom: 30px;
    padding: 30px;
    grid-template-columns:
      70px 30px
      auto  40px  auto
      40px  1fr;
    grid-template-areas:
      "logo . title title title title title"
      "logo . tags tags tags tags tags"
      ". . price price price . rate"
      ". . priceTitle priceTitle priceTitle . rateTitle"
      "hr hr hr hr hr hr hr"
      "subTitle subTitle subTitle subTitle subTitle subTitle subTitle"
      "characteristics characteristics characteristics characteristics characteristics characteristics characteristics"
      "achievements achievements achievements achievements achievements achievements achievements"
      "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
      "description description description description description description description"
      "buttons buttons buttons buttons buttons . .";
  }

  .logo {
    grid-area: logo;
  }

  .title {
    grid-area: title;
  }

  .tags {
    grid-area: tags;

    margin-bottom: 20px;
  }

  .price {
    grid-area: price;
  }

  .rate {
    grid-area: rate;
  }

  .priceTitle {
    grid-area: priceTitle;
  }

  .rateTitle {
    grid-area: rateTitle;
  }

  .hr {
    grid-area: hr;
  }

  .hr2 {
    grid-area: hr2;
  }

  .subTitle {
    grid-area: subTitle;
  }

  .characteristics {
    grid-area: characteristics;
  }

  .characteristic {
    padding-right: 0;
  }

  .achievements {
    grid-area: achievements;

    padding-left: 0;
  }

  .description {
    grid-area: description;
  }

  .buttons {
    grid-area: buttons;
  }
}

@media screen and (max-width: 520px) {
  .product {
    padding: 10px;
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			"logo . title"
			"tags tags tags"
			"priceTitle priceTitle price"
			"rateTitle rateTitle rate"
			"hr hr hr"
			"subTitle subTitle subTitle"
			"characteristics characteristics characteristics"
			"achievements achievements achievements"
			"hr2 hr2 hr2"
			"description description description"
      "buttons buttons buttons";
	}

  .tags {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .price, .priceTitle, .rate, .rateTitle {
		margin-bottom: 10px;
	}
  .price, .priceTitle {
    margin-top: 10px;
  }
}
