.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;
}

.primary {
  color: #FFF;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
  border: 1px solid var(--primary-hover);
}
.secondary {
  color: var(--dark);
  background: none;
  border: 1px solid var(--grey-light)
}

.secondary:hover {
  background: var(--primary-light);
  border: 1px solid var(--primary-light);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.svg {
  fill: var(--dark);
}

.down {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.up {
  transform: rotate(-90deg);
  transition: all 0.3s;
}