.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 5px 10px;

  cursor: pointer;
  transition: all 0.3s;
  text-align: center;

  border-radius: 5px;

  font-size: 14px;
}

.primary {
  color: #FFF;
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.primary:hover {
  border: 1px solid var(--primary-hover);
  background-color: var(--primary-hover);
}

.secondary {
  color: var(--dark);
  border: 1px solid var(--grey-light);
  background: none;
}

.secondary:hover {
  border: 1px solid var(--primary-light);
  background: var(--primary-light);
}

.arrow {
  display: inline-block;

  margin-left: 10px;
}

.svg {
  fill: var(--dark);
}

.down {
  transition: all 0.3s;
  transform: rotate(90deg);
}

.up {
  transition: all 0.3s;
  transform: rotate(-90deg);
}
