.wrapper {
  display: grid;

  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 210px minmax(320px, 1200px) auto;
  gap: 40px 30px;
  grid-template-areas:
    ". header header ."
    ". sidebar main ."
    "footer footer footer footer";
}

.header {
  grid-area: header;

  display: none;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;

  outline: none;
}

.footer {
  grid-area: footer;
}

.skipLink {
  position: fixed;
  top: 0;
  left: 100px;

  display: block;
  overflow: hidden;

  height: 0;

  color: var(--white);
  background: var(--primary);
}

.displayed {
  height: auto;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "main"
      "footer";
    gap: 20px;
  }

  .main {
    padding: 0 16px;
  }

  .sidebar {
    display: none !important;
  }
}
