.footer {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px 40px;
  background-color: var(--primary);
  padding: 20px 30px;
}

.paragraph {
  font-weight: 500;
  color: var(--white);
}

.paragraph a:hover {
  opacity: .7;
}

@media (max-width: 995px) {
  .footer {
    grid-template-columns: 1fr auto;
  }
}

@media (max-width: 765px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 16px;
  }
}