.header {
  display: none;
}

.button {
  width: 40px;
  height: 40px;

  cursor: pointer;

  border: none;
  border-radius: 10px;
  background-color: var(--white);
}

.button svg {
  vertical-align: bottom;
}

.mobileMenu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: hidden;

  padding: 20px 16px;

  background: #F6F6F8;
}

.close {
  position: fixed;
  z-index: 11;
  top: 20px;
  right: 16px;
}

@media (max-width: 780px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;

    align-items: center;

    padding: 20px 16px;
  }
}
