.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  cursor: pointer;

  color: var(--dark);
  border: none;
  background-color: transparent;
}

.button:hover {
  color: var(--grey);
}

.button svg {
  display: none;
}

.active svg {
  display: block;

  margin-right: 8px;
}

.active {
  color: var(--primary);

  font-weight: bold;
}

.active:hover {
  color: var(--primary);
}

.sortName {
  display: none;
}
