.tag {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;

  border-radius: 20px;
}

.small {
  padding: 5px 10px;

  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.medium {
  padding: 3px 10px;

  font-size: 14px;
  font-weight: 600;
}

.primary {
  color: var(--dark);
  border: 1px solid var(--grey-light);
  background: none;
}

.secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.grey {
  color: white;
  background: #B3C0D9;
}

.green {
  color: var(--green);
  background: var(--green-light);
}
